@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap');

@tailwind base;

::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

svg {
  display: inline-block;
}

body {
  font-family: 'Open Sans', sans-serif;
  background: #f4f3f3;
  color: #222;
  font-size: 0.875rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  text-transform: capitalize;
  line-height: 1.25;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}

@tailwind components;
.btn {
  transition: all 0.3s linear;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}
/*@keyframes enlarge {
  to {
    transform: scale(1.5);
  }

.read {
  animation: enlarge 10s linear infinite;
}



}*/

.trans {
  transition: all 0.3s linear;
}

.loading {
  width: 6rem;
  height: 6rem;
  margin: 0 auto;
  margin-top: 10rem;
  border-radius: 50%;
  border: 4px solid #ccc;
  border-top-color: rgb(215 187 62);
  animation: spinner 0.6s linear infinite;
}

@layer components {
  .sidebar {
    @apply bg-[#f4f3f3] w-full h-full fixed top-0 left-0 z-[-1] transition-all duration-[0.3s] ease-linear -translate-x-full;
  }
  .show-sidebar {
    @apply z-[999] translate-x-0;
  }
  .submenu {
    @apply bg-white shadow-dark absolute p-8 -translate-x-1/2 z-[3] top-[4rem] left-[50%] transition-all duration-[0.3s] ease-linear rounded-2xl hidden;
  }
  .show {
    @apply block;
  }
  .page {
    @apply min-h-[calc(100vh-720px)];
  }
  .section {
    @apply py-20 grid items-center justify-center;
  }
  .section-center {
    @apply w-[90vw] max-w-7xl mx-auto;
  }
  @media (min-width: 1008px) {
    .section-center {
      @apply w-[95vw];
    }
  }

  .underline {
    @apply bg-yel h-2 w-[100px] mx-auto mt-3;
  }
  .contact-input {
    @apply bg-inherit border border-black rounded-md px-3 py-2 placeholder:capitalize my-2;
  }
}

.submenu::before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #fff;
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
}

@tailwind utilities;

/* Carousel */

.carousel.carousel-slider .control-arrow {
  top: 50%;
  height: 50px;
  color: #fff;
  font-size: 26px;
  margin-top: 0;
  padding: 0 20px;
  border-radius: 50%;
}
.carousel.carousel-slider .control-arrow:hover {
  background: rgba(0, 0, 0, 0.2);
}
.control-next.control-arrow {
  margin-right: 10px;
}
.control-prev.control-arrow {
  margin-left: 10px;
}

.carousel-root {
  position: relative;
}
.carousel {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.control-dots {
  display: none;
}
.legend {
  display: none;
}

.thumb {
  border-radius: 50%;
  height: 60px;
  width: 30px;
}
.carousel .thumb {
  border: 3px solid #333;
}
.carousel .thumb.selected {
  border: 3px solid #fff;
}
.carousel .thumb:hover {
  border: 3px solid #fff;
}

@media screen and (min-width: 1008px) {
  .hero {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url('../public/assets/inner_page_banner.jpg') center/cover;
  }
}

/* Services */

.service {
  background: rgb(0 0 0 /0.8);
}
.service:hover .img {
  scale: 1.5;
  opacity: 0.2;
}

.service:hover .h2 {
  bottom: 50%;
  background: transparent;
}

.product:hover .link {
  opacity: 1;
}
.product:hover .trans {
  scale: 1.5;
  opacity: 0.5;
}
